* {
  margin: 0;
  padding: 0;
  box-shadow: 0;
}
h1 {
  margin: 2rem;
}
body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image-grid {
  display: inline-grid;
}
table {
  margin: 0 20rem;
}
.clm {
  margin-bottom: 1rem;
}
.imageEl {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 5rem;
}
textarea {
  margin: 2rem 25rem;
}
